#name {
  margin: 2px;
  font-size: 1em;
  text-align: right;
}

#title {
  margin: 2px;
  font-size: 0.5em;
  text-align: right;
}

#featured-projects-header {
  font-size: 0.75em;
}

figcaption {
  font-size: 0.5em;
  text-align: center;
}
