img, obj, video, embed {
  max-width: 100%;
}

body {
  font-family: 'Mukta Mahee', sans-serif;
  color: #2d3c49;
}

/* this defines the boxes within the header section */

header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 1em 0 0 0;
}

#logo {
  width: 48px;
  margin: 12px 0 0 12px;
}

#myinformation {
  justify-content: center;
  align-content: center;
}

#name {
  margin: 2px 12px 0px 2px;
  font-size: 20px;
  text-align: right;
  line-height: 1.2em;

}

#title {
  margin: 0px 12px 2px 2px;
  font-size: 16px;
  text-align: right;
  line-height: 1.2em;
  color: #7d97ad;
}
/* this defines the big splash picture */

hr {
  border: 0;
  height: 1.5px;
  background-image: linear-gradient(to right, rgba(45,60,73, 0), rgba(45,60,73, 0.95), rgba(45,60,73, 0));
}

/* background-color: #02b3e4; */

#splashpic {
  width: 100%;
  display: flex;
  justify-content: center;
}

#splashpic img {
  width: 95%;
  height: 100%;
}


/* this defines the project boxes */

#featured-projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  margin: 0.25em;
}

#featured-projects-header {
  font-size: 16px;
  margin: 0.5em;
  width: 96%
}

#featured-projects figure {
  width: 80%;
  margin: 0.5em;
}

figure img {
  box-shadow: 0px 10px 2px -6px #7d97ad;
}

figure img, figcaption {
  width: 100%;
  margin: 0em;
  font-size: 18px;
  vertical-align: middle;
  text-align: center;
  line-height: 1.8em;
}
