/* setting some general style for the page overall */

img,
obj,
video,
embed {
  max-width: 100%;
}

body {
  font-family: "Carrois Gothic SC", sans-serif;
  color: #2d3c49;
}

/* this defines the behavior and style of the header and it's content */

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1.5em 0 0 0;
}

#logo-box {
  align-self: flex-start;
  margin: 0 0 0 1%;
  width: 48px;
}

#logo-box img {
  width: 100%;
}

#name-title-box {
  align-self: flex-start;
  margin: 0 1% 0 0;
}

#name {
  text-align: right;
  font-size: 20px;
  line-height: 1.2em;
  margin: 0;
}

#title {
  text-align: right;
  font-size: 16px;
  line-height: 1.2em;
  color: #7d97ad;
  margin: 0;
}

/* this defines the splash picture area and it's behavior */

#splash-box {
  position: relative;
  width: 100%;
}

#splash-box img {
  position: relative;
  vertical-align: bottom;
  display: block;
  width: 98%;
  margin-left: auto;
  margin-right: auto;
}

#splash-box span {
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  bottom: 0;
  left: 1%;
  right: 1%;
  padding: 10px 5% 10px 5%;
  text-align: center;
  font: 14px "Open Sans", sans-serif;
  color: white;
}

.splash-border-bar {
  border: 0;
  height: 1.5px;
  background-image: linear-gradient(to right, rgba(45, 60, 73, 0), rgba(45, 60, 73, 0.95), rgba(45, 60, 73, 0));
}

/* this defines the project boxes and their behavior */

#project-collection-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
}

#project-collection-header {
  font-size: 16px;
  margin: 0.5em;
  width: 95%;
}

.project-box {
  width: 70%;
  margin: 0.5em;
}

.project-box img {
  width: 100%;
  margin: 0em;
  box-shadow: 0px 10px 2px -6px #7d97ad;
}

.project-title {
  width: 100%;
  margin: 0.4em auto 0 auto;
  font-size: 18px;
  text-align: center;
  line-height: 1.6em;
}

.project-description {
  width: 90%;
  margin: 0 auto 1em auto;
  font-size: 14px;
  text-align: center;
  line-height: 1em;
  font-family: 'Open Sans', sans-serif;
}
