/* minor break point; no separate media query needed here; this styling */
/* applies when the sheet is first called at min-width: 400px */

#name {
  font-size: 22px;
}

#title {
  font-size: 18px;
}

.project-title, #project-collection-header {
  font-size: 20px;
}

.project-description {
  font-size: 16px;
}

#splash-box span {
  font-size: 15px;
}

/* major break point #1 */

@media screen and (min-width: 550px) {
  #logo-box {
    width: 60px;
  }
  #name {
    font-size: 24px;
  }
  #title {
    font-size: 20px;
  }
  .project-box {
    width: 40%;
  }
  .project-title, #project-collection-header {
    font-size: 22px;
  }
  .project-description {
    font-size: 18px;
  }
  #splash-box span {
    font-size: 16px;
  }
}

/* minor break point */

@media screen and (min-width: 700px) {
  #name {
    font-size: 26px
  }
  #title {
    font-size: 22px;
  }
  .project-title, #project-collection-header {
    font-size: 24px;
  }
  .project-description {
    font-size: 20px;
  }
}

/* major break point #2 */

@media screen and (min-width: 850px) {
  #logo-box {
    width: 72px;
  }
  #name {
    font-size: 28px;
  }
  #title {
    font-size: 24px;
  }
  .project-box {
    width: 30%;
  }
  .project-title, #project-collection-header {
    font-size: 26px;
  }
}

/* minor break point */

@media screen and (min-width: 1050px) {
  #name {
    font-size: 30px;
  }
  #title {
    font-size: 26px;
  }
  .project-title, #project-collection-header {
    font-size: 28px;
  }
}

/* major break point #3 */

@media screen and (min-width: 1280px) {
  body {
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
  }
  #logo-box {
    width: 84px;
  }
  #name {
    font-size: 32px;
  }
  #title {
    font-size: 28px;
  }
  .project-title, #project-collection-header {
    font-size: 30px;
  }
}
